<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>My guess: <input name="guess" value="{guess}"></h2>
  <form action="/" method="POST">
    </br>
    <input type="submit" name="answer" value="Not enough">
    <input type="submit" name="answer" value="Too much">
    <input type="submit" name="answer" value="You won!">
    <input hidden name="min" value="{min}">
    <input hidden name="max" value="{max}">
    <input hidden name="guess" value="{guess}">
  </form>
</body>
</html>